@charset "utf-8";
a {
  text-decoration: none;
  color: #f2f2f2;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
li {
  list-style-type:none;
}
a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
a::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #000000;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

body{
	background: #ffffffee;
	font-family: 'fonts/Oswald-VariableFont_wght.ttf', sans-serif;
  font-size: 25px;
  display: flex;
  flex-flow: column;
  min-height: 100vh;

}
.site_header{
	background: #0000008a, #FFF;
	display: flex;
	padding: 20px 40px;
	justify-content: space-between;
  width: 100%;
  z-index: 99;
  border-bottom: solid 5px #777777c1;
}
.site_logo img{
	height: 75px;
  width: auto;
  top: 50%;
  display: block;
}
.nav_menu{
  display: flex;
  margin: auto;
  padding-top: 18px;
}
.nav_menu_item{
  margin-left: 60px;
}
.nav_menu_item a{
	color: rgb(230, 230, 230);
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}
.hero{
  max-height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative; /* 子要素に対する相対位置を確立 */
}
.hero img{
  height: auto;
	width: 100%;
}
.text{
  position: absolute; /* テキストコンテナを.hero divに対して相対配置 */
  top: 50%; /* テキストを垂直に中央配置（必要に応じて調整） */
  left: 50%; /* テキストを水平に中央配置（必要に応じて調整） */
  transform: translate(-50%, -50%); /* transformを使用してテキストを中央配置 */
  text-align: center; /* テキストを中央揃えにする */
  background: rgba(0, 0, 0, 0.7); /* 透明度を持つ背景色を設定 */
  padding: 20px; /* テキストコンテナに余白を追加 */
  color: #fff; /* テキストの色 */
  font-family: 'Oswald.ttf', sans-serif;
}
.copyright {
  font-size: 15px;
  font-family: 'Titillium Web', sans-serif;
  color: #7b7b7b;
  font-style: normal;
  font-weight: 300;
  margin: 10px 0 0;
  text-align: center;
  bottom:0; left: 0; right: 0;
  flex: 1;
}
